.leftlinks a {
	display: block;
	margin: 3px 0px;
	border-top: 3px solid #CCDDFF;
	border-left: 3px solid #CCDDFF;
	border-right: 3px solid #CCEEFF;
	border-bottom: 3px solid #CCEEFF;
	padding: 4px 10px;
	font-family: calibri;
	text-align: center;
	background-color: #CCCCFF;
	color: #000000;
	text-decoration: none;
 }
.leftlinks a:link {	color: #000000; }
.leftlinks a:visited { color: #000000; }
.leftlinks a:hover {
	display: block;
	margin: 3px 0px;
	border-top: 3px solid #CCEEFF;
	border-left: 3px solid #CCEEFF;
	border-right: 3px solid #CCDDFF;
	border-bottom: 3px solid #CCDDFF;
	padding: 5px 9px 3px 11px;
	font-family: calibri;
	text-align: center;
	background-color: #CCCCFF;
	color: #000000;
	text-decoration: none; 	
}
